<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.rotlite" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ROTLITE CONFIG -->

        <meta-data
            android:name="rotlite_dbname"
            android:value="rotlite" />
        <meta-data
            android:name="rotlite_server"
            android:value="http://rotlite.findmyplace.com.br/" />
        <meta-data
            android:name="rotlite_auth_key"
            android:value="a21e72799d4b16069e9ca4f1ca513d9a" />

        <service android:name="br.com.RotLiteService" />

        <!-- END ROTLITE CONFIG -->

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
